html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  color: #404040;
  background: rgb(248, 248, 245);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  height: 2.5rem;
  width: auto;
  padding: 0.5rem;
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  background: rgb(144, 204, 224);
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 8px #eaeaea;
}

h2 {
  padding-top: 2rem;
  color: #404040;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 0;
}

li a {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: lightblue;
}

li a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(144, 204, 224);
}

hr {
  border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}