.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  max-width: 600px;
  margin: auto;
  padding-top: 4rem;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 0.9rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 800px;
}

.card:hover,
.card:focus,
.card:active {
  background-color: rgb(244, 250, 252);
  border-color: lightblue;
  cursor: pointer;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.card img {
  height: 100%;
  width: 100%;
  padding: 2rem;
  margin: auto;
  display: block;
}

.card video {
  height: 100%;
  width: 100%;
  padding: 2rem;
  margin: auto;
  display: block;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-top: 1.5rem;
}

.textContainer {
  position: relative;
  max-height: 0;
  opacity: 0;
  z-index: -1;
  transition: max-height 200ms ease, height 200ms, opacity 50ms ease;
}

.textContainer.expanded {
  max-height: 400px;
  opacity: 1;
  z-index: 1;
}

.arrow {
  font-size: 2.5rem;
  color: lightblue;
}

.open {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}